body{
	background-color:black; 
}


*{
	color:white;
	text-decoration:none;
}

h1{
	font-family:Aktiv Grotesk;
	font-weight:lighter;
	text-align:center;
	position:absolute;
	font-size:2.5rem;
	top:20vh;
	left:15vw;
}



.social-menu{
	font-family:Aktiv Grotesk;
	font-weight:lighter;
	font-size:1.5rem;
	text-decoration:none;
	line-height:4rem;
	position:absolute;
	top: 20vh;
	left:40vw;

}

ul{
	list-style-type: none;
}

.firstlink{
	border:1px solid white;
	padding:0.7rem;
	border-radius:0.5rem;
}

.firstlink:hover{
	background-color:gray;
	transition-duration: 0.5s;

}

.home{
	position:fixed;
	top:1.5vh;
	right:0;
	z-index:10;
}
.gallery{
	color:white;
	font-family:Aktiv Grotesk;
	font-size:1rem;
	font-weight:lighter;
	color:white;
	border:1px solid white;
	padding:0.7rem;
	text-decoration:none;
	border-radius:0.5rem; 
}

.gallery:hover{
	background-color:gray;
	transition-duration: 0.5s;

}


.contact{
	color:white;
	font-family:Aktiv Grotesk;
	font-size:1rem;
	font-weight:lighter;
	color:white;
	
	border:1px solid white;
	padding:0.7rem;
	text-decoration:none;
	border-radius:0.5rem; 
}

.contact:hover{
	background-color:gray;
	transition-duration: 0.5s;

}

.hom{
	color:white;
	font-family:Aktiv Grotesk;
	font-size:1rem;
	font-weight:lighter;
	color:white;
	
	border:1px solid white;
	padding:0.7rem;
	text-decoration:none;
	border-radius:0.5rem; 
}

.hom:hover{
	background-color:gray;
	transition-duration: 0.5s;

}

h2 {

  width:100%;
  font-size:30px;
  font-family:Lucida Bright; 
  opacity:1; 
  font-stretch:extra-expanded; 
  text-align:left;
  color: white;
  background-blend-mode:screen;
  padding:1px;
  position:fixed;
  bottom:0;
  margin:0;
  z-index:10; 
}

#bar{
  display:block;
  background-color:white;
   background-blend-mode:multiply;
  opacity:0.3;
  width:100vw;
  height:5vh;
  padding:2px;
  position:fixed;
  bottom:0;
  margin:0;
  z-index:9;

}

